/*COMPONENTS ------------------------------*/
.c-jumbotron{
  padding: 24px 0 24px 24px;
  display: flex;
  flex: 1;
}

  .c-jumbotron .c-jumbotron__grid{
    display: grid;
    flex: 1;
    grid-template: auto / 2fr 1fr;
    grid-gap: 24px;
  }

  .c-jumbotron__content{
    margin-left: 56px;
    margin-bottom: 48px;
  }

  .c-jumbotron__text{
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: bold;
    margin: 0;
    line-height: 1.25;
  }
    .c-jumbotron__text.c-jumbotron__text--title{
      font-size: 58px;
    }
    .c-jumbotron__text.c-jumbotron__text--description{
      font-family: "Open Sans", Helvetica, sans-serif;
      font-size: 20px;
      font-weight: 500;
      margin: 24px 20% 32px 0;
    }

  .c-jumbotron .c-jumbotron__button{
    height: 72px;
    padding: 0 36px;
    align-self: flex-start;

    background: #333;
    color: #FBBF00;

    font-family: "Montserrat", Helvetica, sans-serif;
    font-size: 24px;
    text-transform: initial;
  }

  .c-jumbotron__decoration{
    overflow: hidden;
    background-image: url("/assets/images/bdnklogo-hero.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }



@media only screen AND (max-width: 800px) {
  .c-jumbotron__content{
    margin-left: 0;
    margin-bottom: 0;
  }
}

@media only screen AND (max-width: 564px) {
  .c-jumbotron{
    padding: 24px;
  }

  .c-jumbotron__content{
    z-index: 0;
  }

  .c-jumbotron:before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: -8% 0;
    background-repeat: no-repeat;
    background-image: url("/assets/images/bdnklogo-hero.svg");
    opacity: .2;
    z-index: 0;
  }

  .c-jumbotron__decoration{
    display: none;
  }

  .c-jumbotron .c-jumbotron__text.c-jumbotron__text--description{
    margin-right: 0;
  }

  .c-jumbotron .c-jumbotron__button{
    height: unset;
    font-size: unset;
  }
}