/*COMPONENTS ------------------------------*/
.c-titletext{
  font-family: "Ubuntu", Helvetica, sans-serif;
  font-weight: bold;
  font-size: 40px;
  margin: 0;
  margin-left: 13px;
  line-height: 1.00;
}

.c-titletext--big{
  font-family: "Ubuntu", Helvetica, sans-serif;
  font-weight: bold;
  font-size: 65px;
  margin-left: 10px;
  line-height: 1.00;
}


/*LAYOUT ----------------------------------*/
.l-jumbotron{
  padding-top: 250px;
}
