body{
  width: 100%;
  height: 100%;
  background-color: #4A4A4A;
}

.backsplash{
  background-color: #FFDE00;
  width: 100%;
  height: 95%;
}

.backsplash__arrow{
  z-index: -1;
  margin: auto;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #FFDE00;
}

h1{
  font-family: "Ubuntu", Helvetica, sans-serif;
  font-weight: bold;
}

h2{
  font-family: "Ubuntu", Helvetica, sans-serif;
  font-weight: bold;
}

body{
  font-family: "Roboto", Helvetica, sans-serif;
}

.jumbotron{
  padding-top: 200px;
}

.titletext{
  font-size: 50px;
  margin: 0;
  margin-left: 10px;
}

.titletext.big{
  font-size: 85px;
  line-height: 1.00;
}

.main{
  max-width: 900px;
  margin: 0 auto;
}

.hcenter{
  margin: auto;
}

.vcenter{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.decoration{
  position: absolute;
  top: 0;
  right: 0;
}

.action-text{
  margin: 16px;
}

.cntr-img{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

.color-primary{
  background-color: #FFDE00;
}

.mdl-card{
  min-height: 360px;
}

.card--awsphoto{
  background-image: url(/assets/images/aws-bgd.png);
  background-size: cover;
  background-position: center center;
}

.circular{
  border-radius: 50%;
}

.icon-bgd{
  background-color: rgb(0,0,0,0.2);
  border-radius: 50%;
}

.vertical{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.c-back{
  position: absolute;
  top: 16px;
  left: 16px;
  z-index: 9999;
}

.c-article .ribbon{
  width: 100%;
  height:350px;
  background-color: #FFDE00;
  flex-shrink: 0;
}

.c-article .c-post{
  overflow: visible;
  flex-shrink: 0;
  margin-top: -300px;
}

.c-article .mdl-card{
  padding: 80px 0;
}

.c-card__content{
  max-width: 740px;
  margin: auto;
  padding: 0 15px;
}

.c-post .mdl-grid{
  max-width: 900px;
  margin: auto;
}

.c-article h1{
  font-size: 2em;
}

.c-article h2{
  font-size: 2em;
}

.c-card__meta{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: auto;
}

.c-card__meta-date{

}

.c-card__meta-spacer{
  flex-grow: 1;
}

.t-markdown h1{
  font-size: 1.5em;
}

.t-markdown h2{
  font-size: 1.2em;
}

.t-markdown a{
  color: #00BCD4;
  text-decoration:none;
}

.t-markdown a:hover,
.t-markdown a:active{
  color: inherit;
}

.c-fab{
  background-color: #00BCD4;
}

.c-fab--corner{
  position: fixed;
  bottom: 15px;
  right: 10px;
  z-index: 5;
}
