
body{
	background: url("/assets/background.jpg") no-repeat center center fixed;
	background-size: 100%;
	background-color: #343434;
}

body{
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

.content{
	vertical-align: middle;
	position: absolute;
	top: 2em;
	bottom: 2em;
	width: 100%;
}

.center{
	position: absolute;
	top: 50%;
	width: 100%;
	transform: translateY(-50%);
	padding: 0em auto;
}

.frame{
	display: table;
	margin: auto;
	text-align: center;
}

.center_text{
	font-size: 6em;
	font-weight: 100;
	color: #343434;
}

.frosted-back{
	background-color: rgba(255,255,255,.7);
}