
body{
	background: url("/assets/background.jpg") no-repeat center center fixed;
	background-size: 100%;
	background-color: #343434;
}

body{
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

.content{
	height: cover; 
	width: cover;
	vertical-align: center;
}

.center{
	width: 100%;
	height: 100%;
	padding: 0px auto;
}

.frame{
	display: table;
	padding-top: 200px;
	margin: auto;
}

.center_text{
	font-size: 100px;
	font-family: Roboto;
	font-weight: 100;
	color: #343434;
}

.frosted-back{
	background-color: rgba(255,255,255,.7);
}