<!DOCTYPE html>
<html>
<head>
	<title>BdnkDotMe</title>

	<link rel="stylesheet" type="text/css" href="/assets/application.css">

	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body>

	<div class="header frosted-back">
		<img src="/assets/logo_horizontal_black.png" id="logo" style="height: 2em" >
	</div>

	<div class="content">
		<%= yield %>
	</div>

	<div class="footer frosted-back">
		<div>© 2015 Brendan Keyworth</div>
	</div>
	

</body>
</html>
